.search-bar__carrito-container{
    background-color: #5C7E10 ;
}
.div-searchBar{
    background-color: #3D4450;
    color: #F3F5F5;
    :hover{
        background-color: #DCDEDF;
        color: #3D4450;
    }
}
.ul-searchBar{
    display: flex;
    justify-content: center;
    background-color: #3D4450;
    text-align: center;

    width: 100%;

    &__li{
        text-align: center;
        height: 5rem;
        list-style: none;
    }
    &__boton{
        cursor: pointer;
        position: relative;
        width: 100%;
        margin: 1rem;
        margin-left: 2rem;
        text-decoration: none;
        font-weight: 700;
        color: #F1F5FB;
        padding-top: 1rem;

        text-align: center;     
        box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.47);

    }
}
