.img-row{
    width: 150px;
}
td{
    font-weight: 500;
}
.botones-container-alta{
    display: flex;
    flex-direction: column;

}
@media (max-width:578px) {
    .img-row{
        width: 4rem;
        height: 7rem;

    }
    .botones-container-alta{
        display: flex;
        flex-direction: column;
        border: 1px solid red;
    }
    .producto-hidden{
        display: none;
    }

}
.boton-alta{
    cursor: pointer;
    width: 5rem;
    height: 3rem;
    border: none;
    margin-bottom: 1rem;
    border-radius: .6em;
    margin: 1rem;
    text-decoration: none;
    font-weight: 700;

    &__eliminar{
        color: #F1F5FB;
        background-color: #3483FA;
        box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.47);
    }
    &__ver{
        color: #F1F5FB;
        padding: .8rem;
        text-align: center;     
        background-color: #3483FA;
        box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.47);
    }
    &__editar{
        background-color: white;
        color: #4890FA;
        box-shadow: 2px 2px 8px -1px rgba(0,0,0,0.47);
    }
}